div p:first-child {
  color: red;
}

div p:last-child {
  color: blue;
}

/* 다른 태그가 중간에 있어도 제외된 순번으로 처리 */
div h3:nth-of-type(4) {
  color: red;
}
/* 다른 태그가 중간에 있으면 포함된 순번으로 처리 */
div h3:nth-child(4) {
  color: blue;
}

#outer h4:nth-child(5) {
  color: red;
}

#outer > h4 {
  color: blue;
}

/* 기본상태 - 페이지를 방문하지 않았을때 */
a:link {
  color: crimson;
}

/* 해당 페이지를 방문하면 적용 */
a:visited {
  color: purple;
}

/* 마우스 커서 올려두면 */
a:hover {
  color: blue;
}

/* 마우스로 클릭했을때 */
a:active {
  color: bisque;
}

/* 포커스를 가졌을때 */
a:focus {
  color: orange;
}

input:focus {
  background-color: skyblue;
}

input::placeholder {
  color: red;
}

p::selection {
  color: red;
  background-color: rgb(0, 192, 150);
}
