* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

#wrap {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: red;
  color: white;
}

.id {
  float: left;
}

.id input::selection {
  background-color: red;
}
