* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

#wrap {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: red;
  color: white;
}

.login div {
  display: inline-block;
}

input:focus {
  background-color: #3da8c9;
}

.box {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.box1 {
  background-color: red;
}
.box2 {
  background-color: blue;
  transition: 0.5s linear;
}
.box3 {
  background-color: green;
}

.box4 {
  background-color: cornflowerblue;
}

.box2:hover {
  transform: scale(1.5);
  transition: 0.5s linear;
}
