* {
  margin: 0 auto;
}



.nav li {
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
  line-height: 45px;
  
}

.nav li a {
  text-decoration: none;
  color: white;
}

.nav {
  height: 50px;
  background-color: rgb(5, 0, 44);
}

.fa-house{
  color: rgb(255, 208, 0);
}

.fa-bars{
   color: rgb(255, 255, 255);
}

section{
  background-image: url(../images/kakaofriends.gif);
  background-size: auto;
  height: 100%;
  width: 100;
}