* {
  margin: 0;
  padding: 0;
}


.contanier{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.menu{
  height: 100px;
  width: 500px;
  background-color: black;
  color: white;
}
.nav{
  width: 100px;
  background-color: red;
}
.content{
  width: 400px;
  height: 300px;
  background-color: yellow;
}
.footer{
  width: 500px;
  height: 100px;
  background-color: blue;
}