*{
  padding: 5px;
  margin: 10px;
}

h1{
  border: 5px solid red;
  border-top: 5px solid blue;
  border-bottom: 20px solid red;
  border-radius: 20px 0 0 0;
  box-shadow: inset 2px 10px 10px rgba(2, 190, 33, 0.5);
}